.EditorControls{
  position: absolute; z-index: 6;
  display: flex;
}
.EditorControls .n-button{
  margin: 5px;
}
.EditorControls .n-form-item{
  --label-height:5px !important;
  --feedback-height:6px !important;
}
